
extra-streamlit-components==0.1.60
firebase-admin==6.2.0
numpy==1.26.0

pandas==2.0.3

st-annotated-text==4.0.1
st-click-detector==0.1.3
st-clickable-images==0.0.3
st-pages==0.4.5
streamlit==1.28.1
streamlit-authenticator==0.1.5
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.5
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-lottie==0.0.5
streamlit-option-menu==0.3.6
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
